.cartPage-title{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: ui-monospace;
  
}
.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cart-product-section {}

 @media (min-width:1024px){
  .cart-container {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}


 }