.profileContainer{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:350px;
    border-radius: 10px;
  
}
.headingContainer{
    display: flex;
    justify-content: center;
   
}

.headingList{
    display: flex;
    flex-direction:row;
    list-style: none;
   
}
.headingValue{
    margin: auto 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui;
    cursor: pointer;
}
.contentContainer{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui;
    display: flex;
    justify-content: space-evenly;
   
}
.individualAddress{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    box-shadow: rgb(1, 119, 253) 0px 1px 6px 1px;
    width: 260px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;

}
.form-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
 
  .form-wrapper label {
    display: block;
    margin-bottom: 10px;
  }
  .formBtnDiv{
    width: 100%;
    margin-top: 5px;
  }

  .form-wrapper  input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color:black;
    background-color: hsl(200deg 12% 95.1%)


  }
  
  .form-wrapper  button {
    padding: 8px 30px;
    margin: auto 5px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
  }
  .addNewAddressBtn{
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    cursor: pointer;
  }
  .editBtn{
    background-color: black;
    border: none;
    padding: 8px 15px;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    cursor: pointer;
  }
  .paymentBtn{
    background-color: black;
    border: none;
    padding: 8px 15px;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    cursor: pointer;

  }
  .paymentGuid{
    font-family: ui-sans-serif;
    box-shadow: rgb(1, 119, 253) 0px 1px 6px 1px;
  }

  .orderData-heading{
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 700;
    color: green;
  }
 
  @media (min-width:1024px){
    .profileContainer{
      margin: 150px auto;
      width:700px;
  }
  .individualAddress{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    box-shadow: rgb(1, 119, 253) 0px 1px 6px 1px;
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;

}
.paymentGuid{
  padding: 6px;
  margin: 10px auto;
}

  }