.filter-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;

}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(61, 57, 57);
    font-size: 0.7rem;
    font-weight: 550;


}


.filter-heading {
    color: #000;
    font-size: 1rem;
    font-weight: 500;

}

.filter-title {
    color: black;
    font-size: 0.8rem;
    font-weight: 550;
}

.clearBtn {
    border-radius: 11px;
    font-size: .7rem;
    font-weight: 500;
    margin-left: 10px;
    padding: 3px;
    color: white;
    background-color: red;
    font-family: sans-serif;
}

.closeBtn {
    display: flex;
    margin: auto;
    background-color: red;
    color: white;
    font-size: 0.80rem;
    border-radius: 10px;
    padding: 6px;
    background-color: red;
    font-weight: 600;
    font-family: sans-serif;

}

.rangeLabel {
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
}


/* //Media Queries */


@media (min-width:768px) {


    .filter-container {
        display: flex;
        flex-direction: column;
        padding: 12px;
        color: grey;
        font-size: 0.95rem;
        font-weight: 500;
    }

    .filter-heading {
        margin: 5px;
        font-size: 1.15rem;
        font-weight: 600;
        color: black;

    }

    .clearBtn {
        margin-left: 30px;
        color: white;
        font-size: 0.9rem;
        border-radius: 25px;
        padding: 9px;
        background-color: red;
        font-weight: 500;
        font-family: sans-serif;
    }



    .filter-title {
        color: black;
        font-size: 0.85rem;
        font-weight: 550;
    }

    .closeBtn {
        display: flex;
        margin: auto;
        background-color: red;
        color: white;
        font-size: 1.5rem;
        border-radius: 30px;
        padding: 10px;
        background-color: red;
        font-weight: 550;
        font-family: sans-serif;


    }

}


@media (min-width:1024px) {
    .filter-box {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        top: 0;
        left: 0;
        padding: 0px;
        height: 100%;
        width: 210px;
        transform: translate(0%, 0%);
        z-index: 0;


    }

    .filter-container {
        overflow-y: auto;
        height: 40rem;
        display: flex;
        flex-direction: column;
        padding: 15px;
        color: grey;
        font-size: 1rem;
        font-weight: 500;
    }

    .filter-heading {
        margin: 0px;
        font-size: 1.25rem;
        font-weight: 600;
        color: black;

    }

    .rangeLabel {
        display: flex;
        justify-content: space-around;
        padding: 0px;
        margin: -23px
    }

    .clearBtn {
        margin-left: 15px;
        font-size: 11px;
        font-family: monospace;
        background-color: red;
        color: white;
        border-radius: 15px;
        padding: 3px;

    }

    .filter-title {
        color: black;
        font-size: 1rem;
        font-weight: 550;
    }

    .closeBtn {
        display: none;

    }

}